.App {
  text-align: center;
}

.AppHeader {
  background-color: white;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.LeftSide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.LogoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 340px;
  height: 339px;
  border-radius: 340px;
  background: #3e3460;
}

.RightSide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  width: 100%;
  height: 100vh;
  background-color: #3e3460;
}

.Title {
  margin-bottom: 66px;
  /* color: white;
  text-align: center;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal; */
}

.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 26px;
}

.TextBox {
  text-align: center;
  width: 312px;
  height: 48px;
  border-radius: 80px;
  border: none;
  margin-bottom: 31px;
  color: #747474;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.Button {
  width: 172px;
  height: 36px;
  border-radius: 10px;
  background: #cf769e;
  border: none;
  color: white;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.LinkField {
  display: flex;
  flex-direction: column;
  color: black;
}

.Link {
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
