.App {
  text-align: center;
  background-color: #3e3460;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Header {
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

.HeaderTitle {
  display: flex;
  flex-direction: row;
}

.HeaderLogo {
  height: 50px;
  width: 50px;
}

.HeaderName {
  margin-left: 20px;
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  align-items: center;
}

.HeaderButton {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.HeaderText {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-right: 16px;
}

.HeaderLogin {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  background: #cf769e;
  color: white;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  cursor: pointer;
}

.Main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* Style for the RegistrationForm component */
.Form {
  padding: 20px;
  border-radius: 5px;
  width: 30%;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}

/* Style for labels */
.FormField {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align labels to the left */
  flex-wrap: wrap; /* Wrap fields to the next line if they don't fit */
  justify-content: space-between; /* Space fields evenly within the row */
  margin-bottom: 10px;
}

.FormGroup {
  flex: 0 0 calc(50% - 10px); /* Set each field group to 50% width with spacing */
  margin-right: 10px; /* Add some spacing between fields */
}

/* Style for input fields */
.FormInput {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

/* Style for the submit button */
.FormButton {
  width: 180px;
  height: 60px;
  border-radius: 10px;
  background: #cf769e;
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.Profile {
  width: 300px;
  height: 300px;
}
