.App {
  text-align: center;
  height: 100vh; /* Ensure the entire page height is covered */
  display: flex;
  flex-direction: column;
}

.AppHeader {
  background-color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.NavBar {
  background-color: #3e3460;
  width: 100%;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Logo {
  margin: 0 1rem;
}

.NavLeft {
  display: flex;
  align-items: center;
}

.ButtonSearch {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-right: 33px;
}

.Main {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 0.5rem;
}

.BoxLeft,
.BoxRight {
  height: 100%;
  background-color: #242424;
}

.BoxRight {
  width: calc(100% - 23rem);
  border-top-left-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 15px;
  padding-right: 24px;
}

.BoxLeft {
  width: 20rem;
  margin-right: 0.5rem;
  border-top-right-radius: 10px;
}

.PerfilImage {
  margin-top: 20px;
}

.Title {
  line-height: 36.31px;
  font-size: 30px;
  font-weight: 600;
}

.ShowButton {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 15px;
  font-weight: 600;
}

.Line {
  display: flex;
  justify-content: space-between;
  gap: 23px;
}

.LineText {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.PlaylistCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  width: 150px;
  height: 200px;
  border-radius: 5px;
  background: linear-gradient(144deg, #7d65cc 0%, #cf769e 100%);
}

.PlaylistImg {
  margin-top: 0.5rem;
  height: 135px;
  width: 135px;
}

.PlaylistTitle {
  align-items: flex-start;
  justify-content: left;
  justify-self: left;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.AddBtnDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 200px;
}

.AddBtn {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.CardButton {
  background: none;
  border: none;
  cursor: pointer;
}

.Logout {
  color: #b30000;
  cursor: pointer;
}
