.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: linear-gradient(0deg, #000 0%, #3e3460 100%);
  font-size: calc(10px + 2vmin);
  color: white;
}

.Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  margin-bottom: 3rem;
}

.Nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.HeaderLogo {
  height: 50px;
  width: 50px;
}

.HeaderName {
  margin-left: 20px;
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  align-items: center;
}

.SearchSection {
  display: flex;
  flex-direction: row;
  color: #cf769e;
  align-items: center;
  gap: 1rem;
  font-size: 20px;
  font-weight: 700;
}

.SearchContainer {
  width: 50rem;
  height: 2rem;
}

.ButtonSearch {
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-right: 33px;
}

.SearchBar {
  width: 100%;
  height: 100%;
  font-size: 25px;
}

.SuggestionBox {
  list-style: none;
  width: 50rem;
  padding: 0;
  margin: 0;
  position: absolute;
  color: #000;
  background-color: #fff; /* Background color for suggestions */
  border: 1px solid #ccc; /* Border style */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
  max-height: 150px; /* Limit the maximum height to make it scrollable */
  overflow-y: auto; /* Add a scrollbar if needed */
  z-index: 1; /* Ensure it's on top of other content */
}

.SearchSuggestions {
  padding: 10px;
  cursor: pointer;
}

.Main {
  display: flex;
  flex: 1;
  overflow: auto;
  align-items: flex-start;
  justify-content: space-evenly;
}

.PlaylistImg {
  height: 400px;
  width: 400px;
}

.Card {
  flex: 1;
  height: 400px;
  width: 400px;
}

.List {
  flex: 2;
  margin: 0 3rem;
  height: calc(100vh - 200px);
  overflow-y: auto;
}

.List::-webkit-scrollbar {
  width: 10px;
}

.List::-webkit-scrollbar-thumb {
  background-color: #a0a0a0;
}

.List::-webkit-scrollbar-thumb:hover {
  background-color: #808080;
}
